.slider { overflow: hidden; }
.slider .content { position: relative; }
.slider .content .page { float: left; }


body{
  color: #000;
}
.link-box {
  background-color: #D6E4FF;
}
.link-box-active {
  background-color: #C3D0EA;
}

#first-box {
   background-color: #EBEAEA;
}

#cv-box {
    background-color: #E1DFDF;
}

#about-box {
   background-color: #D7D5D5;
}

#project-box {
   background-color: #CECACA;
}
#contact-box {
  background-color: #CECACA;

}
div{
    -webkit-transition: all 500ms ease-in-out 0s;
    -moz-transition: 	all 500ms ease-in-out 0s;
    -o-transition: 		all 500ms ease-in-out 0s;
    transition: 		all 500ms ease-in-out 0s;
}

ul {
	list-style: none;

}
li {
	/*margin-left: 5px;*/
	margin-top: 10px;

}


.page-box {
    height: 95%;
    border-radius: 2px;
    box-shadow: inset 0 0 6px 0 rgba(0,0,0,0.4);
    padding: 20px;
	overflow-y: auto;

}


.page-box-active {
	/*width: 85%;*/
}

.page-box #body {
	padding: 10px;
}


.page-box #title{


  position: absolute;
  /*top: 50%;*/
  /*left: 40%;*/
  margin: 0 auto 0;
  font-weight: 400px;
  font-size: 20px;
  text-shadow: 2px 2px rgba(136, 129, 129, 0.2);

}
a{
  color: #000;
  text-shadow: 2px 2px rgba(136, 129, 129, 0.2);
}
.link-box {
  text-align: center;
  font-size: 20px;
  height: 20%;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 6px 1px rgba(136, 129, 129, 0.3);
  border: 1px;
  margin-bottom: 5px;
}

.link-text
{
  position: relative;
  top: 25%;
}

.img-div {
		padding: 3px;
	   box-shadow: inset 0 0 6px 0 rgba(0,0,0,0.4);
}
/*
.page-box:nth-child(1) {
    background-color: #fda8ab;
    background-color: rgba(253,168,171,0.3);

}*/


#first-box .content {
	padding: 5px;
  background-color: rgba(0,0,0,0.1);
 	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);
 	margin-bottom: 15px;
  color: #000;
}

#first-box .content a{
  color: #000;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}


.content {
  padding: 5px;
  background-color: rgba(0,0,0,0.1);
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);
  margin-bottom: 15px;
  color: #000;
  text-align: justify;
  text-justify: inter-word;
}

.content a{
  color: #000;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}

/*.page-box:nth-child(2) {
    background-color: #cd88af;
    background-color: rgba(205,136,175,0.3);
}*/



/*#cv-box .content {
	padding: 5px;
   	background-color: rgba(205,136,175,0.1);
 	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);
 	margin-bottom: 15px;

}*/
#cv-box .content .cv-item {
	/*background-color: black;*/

}

#cv-box .content .cv-item .cv-title {

	text-align: center;
	font-size: 22px;
	font-weight: bold;
	/*color: #505050;*/
  color: #000;
	/*background-color: #ebe8ed;*/
 	/*box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);*/
}
#cv-box .content .cv-item .cv-date {

	/*text-align: center;*/
	/*position: relative;*/
	/*left: -5px;*/
	float: right;
  margin-left: 15px;
	/*background-color: #ebe8ed;*/
 	/*box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);*/
}



#project-box .content .project-item {
  /*background-color: black;*/

}

#project-box .content .project-item .project-title {

  text-align: center;
  font-size: 16px;
  font-weight: bold;
  /*color: #505050;*/
  color: #000;
  /*background-color: #ebe8ed;*/
  /*box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);*/
}
#project-box .content .project-item .project-date {

  /*text-align: center;*/
  /*position: relative;*/
  /*left: -5px;*/
  float: right;
  margin-left: 15px;
  /*background-color: #ebe8ed;*/
  /*box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);*/
}

/*#about-box .content {
  padding: 5px;
  background-color: rgba(151,117,170,0.1);
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);
  margin-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;
}
*/

/*.page-box:nth-child(4) {
    background-color: #837eb1;
    background-color: rgba(131,126,177,0.3);
}
*/
/*.page-box:nth-child(5) {
    background-color: #738ca6;
    background-color: rgba(115,140,166,0.3);

}*/
/*
.page-box:nth-child(6) {
    background-color: #689d99;
    background-color: rgba(104,157,153,0.3);
}
*/
/*
#contact-box .content {
	padding: 5px;
	background-color: rgba(104,157,153,0.1);
	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.4);


}

*/

.for-show {
	/*border-style: inset;*/
	/*border-width: 1px;*/
	    box-shadow: inset 0 0 6px 0 rgba(0,0,0,0.4);
}

.rotated
{
	-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
